*{
    margin: 0;
    padding: 0;
    border: 0;
}

p {
    text-align: justify;
    color: purple;
    padding: 10;
    background-color: rgb(226, 222, 222);
}
h1{
    text-align: center;
    background-color: gray;
}